<div>
  <%= form_for [@post] do |f| %>
      投稿する
    </h3>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="field">
    <%= f.text_area :text, row: '10', cols: '30' %>
    </div>
    <input type="submit" value="SENT">
  <% end %>
</div>